:root{
  --richBlack: #00171F;
  --otterBrown: #583E23;
  --cream: #F0FFCE;
  --gunMetal: #2D3142;
  --pastelGray: #D6D6B1;
  --lightCyan: #DAFFEF;
  --smokyBlack: #0A0908;
}

body{
  font-family: 'Raleway', sans-serif !important;
  background: var(--pastelGray) !important;
  color: var(--smokyBlack) !important;
}

.font-size-12{
  font-size: 0.75rem;
}

.text-title{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--gunMetal);
}

.text-bright {
  color: var(--lightCyan);
}